main {
  margin: 1.5rem;
  background-color: #d66565;
  padding: 10px;
  border-radius: 1.5rem;
}
.layar {
  color: #ebeaea;
  padding: 3px;
  font-size: 100px;
  text-align: center;
}

.tombol {
  background-color: #bd2c2d;
  padding: 3px;
  
}
