main {
  margin: 1.5rem;
  background-color: #d66565;
  padding: 10px;
  border-radius: 1.5rem;
}
.layar {
  color: #ebeaea;
  padding: 3px;
  font-size: 130px;
  text-align: center;
}

.tombol {
  background-color: #bd2c2d;
  padding: 13px;
  border-radius: 50px;
  justify-content: center;
  font-size: 30px;
  color: #ebeaea;
}

.main-btn {
  margin: 1rem;
  width: 350px;
}

footer {
  text-align: center;
  color:#c7c7c7;
}